<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/js/bootstrap.js">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="card" style="width: 400px">
            <div class="card-header">Header</div>
            <img src="../Photos/car.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h1>Courses</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem eveniet repudiandae soluta, cumque nihil illum impedit sequi
                hic sunt ex! Incidunt velit ab voluptates eius ex, at dignissimos
                unde maiores!
              </p>
              <button type="button" class="btn btn-outline-secondary">
                Buy Now
              </button>
            </div>
            <div class="card-footer">footer</div>
          </div>
          

          <div class="card" style="width: 400px">
            <div class="card-header">Header</div>
            <img src="../Photos/car.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h1>Courses</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem eveniet repudiandae soluta, cumque nihil illum impedit sequi
                hic sunt ex! Incidunt velit ab voluptates eius ex, at dignissimos
                unde maiores!
              </p>
              <button type="button" class="btn btn-outline-secondary">
                Buy Now
              </button>
            </div>
            <div class="card-footer">footer</div>
          </div>


          <div class="card" style="width: 400px">
            <div class="card-header">Header</div>
            <img src="../Photos/car.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h1>Courses</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem eveniet repudiandae soluta, cumque nihil illum impedit sequi
                hic sunt ex! Incidunt velit ab voluptates eius ex, at dignissimos
                unde maiores!
              </p>
              <button type="button" class="btn btn-outline-secondary">
                Buy Now
              </button>
            </div>
            <div class="card-footer">footer</div>
          </div>
        </div>
      </div>
</body>
</html>